.header{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.header__logo{
    width: 45px;
}
.header__menu{
    color: #333333f5;
    text-decoration: none;
    font-size: 0.5em;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}
.menu-active{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding-bottom: 1px;
    padding-top: 1px;
}

.maincontainer, .projectlorum, .about, .mission, .ourproject, .contactus {
    display: flex;
}
.maincontainer {
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 73.125em;
}

.projectlorum {
    border: 0.1em solid black;
}

.about {
    border: 0.1em solid black;
}

.mission {
    border: 0.1em solid black;
}

.ourproject {
    border: 0.1em solid black;
}

.contactus {
    border: 0.1em solid black;
}